
.navbar{
  border-bottom: 1px solid #eee;
  background-color: #fff;
  margin: 0 auto;
}

.navbar-brand{
  font-size: 25px;
}

.navbar-brand a{
  font-family: 'Abril Fatface', cursive;
  color: #212529;
  &:hover{
    color:#999;
  }
}

.nav-item,
.navbar-mobile-item {  
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

.icons{
    align-items: center !important;
}

.mb-3{
  margin-bottom: -25px !important;
  border-radius: 0px;
}

.search-bar{
  &:focus{
    box-shadow: none;
    border-color: #ced4da;
    border-radius: 0px !important;
  }
}

.input-group-text{
  border-radius: 0px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-results{
  position:absolute;
  z-index:1000;
  border-radius: 0 !important;
}

.nav-link{
  padding: 0;
}

.dropdown-menu{
  top: 180%;
  left: 0;
}

#basic-nav-dropdown{
  color: #212529;
}

.dropdown-item{
  &:hover {
    color: #999;
    text-decoration: none!important;
    background-color: #fff;
  }

}

.nav-item{
  margin: 0 10px 0 4px;
  cursor:pointer;
  text-transform: uppercase;
  a{
    color: #212529;
    &:hover {
    color: #999;
    text-decoration: none!important;
  }
  }
}

.fi-icons{
  color: #212529;
  font-size: 20px;
  &:hover {
    color: #999;
  }
}
.navbar-toggle{
  background-color: transparent;
  border: none;
  &:focus{
    border: none;
    outline:none;
    color: #999;
  }
}

.nav-toggle-icon{
  font-size: 25px;
  color:#212529;

  &:hover{
    color: #999;
    
  }
}

.isHidden{
  height: 0px;
  transition: height 1s;
}

.isShown{
  height: 100vh;
  max-height: 1500px;
  transition: height 1s;
}

#navbar-mobile{
  background-color: #fff;
  position: absolute;
  z-index: 888;
  width: 100%;
  overflow: hidden;
}

.flex-column > .container{
  padding: 0!important;
}

.navbar-mobile-item{
  position: relative;
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #F5F5F5;
  &:hover {
    color: #999;
  }
}

.mobile-nav-icon{
  float:right;
}

.swipe-nav{
  overflow: hidden;
  display: block;
  top:0;
  background-color: #fff;
  padding-top: 2vh;
}

#noWidth{
  width: 0px;
  display: none;
  transition: width 2s;
}

#swipeRight{
  width: 100%;
  transition: width 2s;
  position: absolute;
  z-index: 1000;
}

